<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Card Generator</title>
  </head>
  <body>
    <!-- 
        ########################
        1. Fill up headers given the column headers of the cards
        2. Fill all fields of the cards

      


  character_name = models.CharField(max_length=30)
  description = models.CharField(max_length=3000)
  hitpoints = models.IntegerField(default=1)
  cost = models.IntegerField(default=1)
  deploy_time = models.FloatField(default = 0.0)
  damage = models.IntegerField(default=1)


    -->

    <div class="container">
      <table class="table">
        

        <thead class="thead-dark">
          <!-- Field Headers -->
          <!-- {% for field in field_list %}
            <th>{{ field.name }}</th>
          {% endfor %} -->
          <!-- <th>ID</th> -->
          <th>Name</th>
          <th>Description</th>
          <th>Hitpoints</th>
          <th>Cost</th>
          <th>Deploy Time</th>
          <th>Damage</th>
          <th>Actions</th>
        </thead>
        <tbody>
          {% for card in card_list %}
          <tr text-transform: capitalize;>
            <!-- <td>{{ card.id }}</td> -->
            <td>{{ card.character_name }}</td>
            <td>{{ card.description }}</td>
            <td>{{ card.hitpoints }}</td>
            <td>{{ card.cost }}</td>
            <td>{{ card.deploy_time }}</td>
            <td>{{ card.damage }}</td>
            <td>
              <a href="{% url 'cardcreation:edit' id=card.id %}" role="button" class="btn btn-warning">Edit</a>
              <a href="{% url 'cardcreation:delete' id=card.id %}"delete/{{ card.id }}" role="button" class="btn btn-danger">Delete</a>
            </td>
          </tr>
          {% endfor %}
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><a href="{% url 'cardcreation:create' %}" role="button" class="btn btn-primary">Add Card</a></td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>